@import "./1-token.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    background-color: var(--blue-900);
    min-height: 100%;
}

/* Bodies */
/* Home Page */
.home-page__body {
    position: relative; /* This ensures pseudo-elements inside it anchor themselves cleanly relative to the document screen. */
    min-height: 100vh;
    min-height: 100dvh; /* Handles dynamic mobile address bars and scroll under the iphone camera */
}

.home-page__body::before { /* Create a hardware-accelerated fixed background pseudo-element */
    content: ""; /* Required for any ::before or ::after pseudo-element. Without this line, the browser simply won't render the element on screen. */
    position: fixed; /* Pins the background layer directly to the mobile viewport frame so it stays locked in place while the user scrolls through the content. */
    inset: 0; /* Cover top, right, bottom, left */
    
    background-image: url(../asset/images/bg-picture-body.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; /* Ensures image covers full viewport */
    
    z-index: -99;            /* Places image behind all content */
    pointer-events: none;  /* Allows clicks to pass through to elements below */
}

.contact-page__bg {
    content: "";
    position: fixed;
    inset: 0;                   /* Shortcut for top: 0, left: 0, right: 0, bottom: 0 */
    
    width: 100%;
    height: 100%;
    
    object-fit: cover;          /* Same as background-size: cover */
    object-position: center;   /* Same as background-position: center */
    z-index: -99;                 /* Background layer */
    pointer-events: none;
}


.section { /* Desktop: max-width: 1200px; margin-inline: auto; */
    width: 100%;
    max-width: 90rem; /* 1440px */
    
    margin-inline: auto;
    padding-inline: var(--spacing-body-padding-x);
    padding-block: var(--spacing-section-padding-y);
    background-color: var(--bg-body-default);
    color: var(--neutral-100);

    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-section-gap);
}

.site-width {
    max-width: 90rem; /* 1440px */
    margin-inline: auto;
}

h1, h2, h3, h4 {
    font-family: var(--font-family-heading);
    text-transform: uppercase;
}

.hero-title {
    font-size: var(--fs-hero);
    text-align: center;
}

h1 {
    font-size: var(--fs-h1);
    text-align: center;
}

h2 {
    font-size: var(--fs-h2);
    text-align: center;
}

h3 {
    font-size: var(--fs-h3);
    text-align: center;
}

h4 {
    font-size: var(--fs-h4);
    text-align: center;
}

p, a, span, li, button {
    font-family: var(--font-family-paragraph);
    font-size: var(--fs-body);
    max-width: 50.625rem ; /* 810px */
}

blockquote, figcaption {
    font-family: var(--font-family-paragraph);
    font-style: italic;
    max-width: 50.625rem ; /* 810px */
}

a {
    color: var(--fc-paragraph-light);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

li {
    list-style: none;
}

button {
    background-color: transparent;
    color: var(--blue-900);
    border: none;
    cursor: pointer;
}

mark {
    background-color: var(--blue-50);
    color: inherit; /* Keeps text color same as paragraph */
    padding-inline: 6px;
    border-radius: 0 10px 0 10px;
    color: var(--fc-paragraph-dark);
}

